ErrorDocument 400 https://ipahacks.github.io/404.html
ErrorDocument 401 https://ipahacks.github.io/404.html
ErrorDocument 403 https://ipahacks.github.io/404.html
ErrorDocument 404 https://ipahacks.github.io/404.html
ErrorDocument 500 https://ipahacks.github.io/404.html
ErrorDocument 503 https://ipahacks.github.io/404.html

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]